.Allpost {
  width: 70%;
  margin-top: 100px;
  height: fit-content;
  .ant-skeleton-image{
    width: 100% !important;
    height: 500px !important;
  }
  .ant-skeleton{
    width: 100% !important;
  }
}
